* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
a {
  all: unset;
  cursor: pointer;
}
header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.logoContainer {
  width: 100px;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-weight: bold;
}

.leftNavContainer {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.rightNavContainer {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  all: unset;
  cursor: pointer;
}

.inputsBlock {
  background-color: #191919;
  padding: 20px 30px;
  position: relative;
}

.linkContainer {
  color: #ff5f00;
  margin-bottom: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.inputsNavContainer {
  height: 40%;
}

.inputsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: 70px;
}

.searchbar {
  width: 400px;
}

.inpuTitle {
  color: #ff5f00;
}

.inputDiv {
  all: unset;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px;
  font-size: 18px;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 250px;
  position: absolute;
  height: 250px;
  width: 75%;
  background-color: white;
  padding: 20px;
}

.resultItem {
  cursor: pointer;
}

.dateTimeInputContainer {
  display: flex;
  z-index: 2;
}

.activeSixtButton {
  all: unset;
  text-transform: uppercase;
  color: white;
  background-color: #ff5f00;
  padding: 10px 20px;
  font-size: 12px;
}

.inactiveSixtButton {
  all: unset;
  text-transform: uppercase;
  color: #6d6d6d;
  background-color: #818183;
  padding: 10px 30px;
}

.homeCarrouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modalContainer {
  position: absolute;
}

.resultsContainer-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
