* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.whiteText {
  color: white;
}

body {
  background-color: #ff5f00;
}

.heroContainer {
  height: 200px;
  width: 100%;
}

.carTitle {
  background-color: black;
  width: fit-content;
  padding: 10px 20px;
  color: #ff5f00;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.heroSubBar {
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  text-transform: uppercase;
}

.optionsContainer {
  display: flex;
  gap: 30px;
}
.leftContainer {
  width: 53%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
}

.titleConfig {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.offerOptions > p {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.includedChargesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
}

.includedChargesWrapper {
  width: 300px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.whiteBlockColor {
  background-color: white;
  color: black;
}
.blackBlockColor {
  background-color: black;
  color: white;
}

.includedChargesTitle {
  margin-bottom: 10px;
}
.includedChargesDescr {
  font-size: 10px;
}

.includedChargesPrice {
  font-size: 16px;
}

.rightContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.rightWraper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  gap: 15px;
  align-items: center;
}

.priceBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subtitleBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totalModal-root {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.totalModal {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.totalModalContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 30px;
}

.totalTitle {
  text-transform: uppercase;
  font-size: 20px;
}

.totalBlock {
}

.totalSubtitle {
  text-transform: uppercase;
  font-size: 18px;
}

.billLine {
  display: flex;
  justify-content: space-between;
}
.lineText {
  font-size: 14px;
}

.totalAmountBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalAmount {
  display: flex;
  flex-direction: column;
}

.buttonContainerContinue {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.activeSixtButtonwhite {
  all: unset;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff5f00;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  font-size: 12px;
}
