* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.pageContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.formContainer {
  height: 100%;
  width: 70%;
  border: 1px solid black;
}

.formTitleContainer {
  margin: 20px 0;
  border-bottom: 3px solid black;
}

.formTitle {
  font-size: 30px;
}

.formTopContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}

.formBottomContainer {
  display: flex;
  flex-direction: column;
  height: 150px;
  flex-wrap: wrap;
}

.bookingInfoContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.carInfoDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subInfoContainer {
  display: flex;
  flex-direction: column;
}

.carPictContainer {
  width: 50%;
}

.carPict {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bookingSubTitle {
  font-size: 20px;
  text-transform: uppercase;
}

.divider {
  border-top: 1px solid black;
  margin: 20px 0;
}

.datePicker {
  margin-top: 10px;
  color: black;
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  border: solid 1px black;
}

.confirmationContainer-root {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmationContainer {
  position: absolute;
  height: 150px;
  width: 40%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.confirmationMsgContainer {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  gap: 10px;
}

.confirmationMsg {
  text-transform: uppercase;
}
.confirmNumb {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
